<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Tasky" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <%= if Mix.env() == :dev do %>
      <% vite_server = "#{@conn.scheme}://#{@conn.host}:5173" %>
      <script type="module" src={"#{vite_server}/@vite/client"}>
      </script>
      <script type="module" src={"#{vite_server}/src/Main.res.mjs"}>
      </script>
    <% else %>
      <%= if manifest_path = TaskyWeb.Endpoint.static_path("/assets/.vite/manifest.json") do %>
        {# Render all CSS files, including imported ones}
        {render_css_from_manifest(manifest_path, "src/Main.res.mjs")}

        {# Render all JS chunks in the correct order}
        {render_js_from_manifest(manifest_path, "src/Main.res.mjs")}
      <% end %>
    <% end %>
  </head>
  <body class="bg-white">
    {@inner_content}
  </body>
</html>
