<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Tasky" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <%= if Mix.env() == :dev do %>
      <script type="module" src="http://localhost:5173/@vite/client">
      </script>
      <script type="module" src="http://localhost:5173/src/main.jsx">
      </script>
    <% else %>
      <%= if manifest_path = Phoenix.Template.static_path("/assets/manifest.json") do %>
        {# Render all CSS files, including imported ones}
        {render_css_from_manifest(manifest_path, "src/main.jsx")}

        {# Render all JS chunks in the correct order}
        {render_js_from_manifest(manifest_path, "src/main.jsx")}
      <% end %>
    <% end %>
  </head>
  <body class="bg-white">
    {@inner_content}
  </body>
</html>
